:root{
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  font-family: 'Fira Sans', sans-serif;

  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
  --font-black: 900;

  --color-white: #FFFFFF;
  --color-red: #EC0000;
  --color-green: #05A84B;
  --color-black: #000000;
  --color-gray-700: #7D7D7D;
  --color-gray-100: #FAFAFA;
  --color-gray-500: #BDBDBD;
  

}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}


/* ---------------PRODUCT DETAILS---------------------- */

.cart-details{
  max-width: 124rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 6rem 2rem ;
}

.left-column{
  display: flex;
  min-width: 38rem;
  flex-direction: column;
  width: 45%;
  gap:2rem 0;
}
.left-column>h2, .right-column>h2{
  font-size: 3.6rem ;
  font-weight: var(--font-semibold);
  margin-bottom: 4rem;
}
.products{
  display: flex;
  justify-content: space-between;
}

.item .line{
  height: 2px;
  width: 100%;
  background-color: var(--color-gray-500);
  margin: 1rem 0;
}

.chosen-product{
  display: flex;
  justify-content: flex-start;
  justify-items: center; 

 }

.chosen-product>span>img{
  height: 13rem;
} 

.chosen-product>span{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 1rem;
} 

span.product-remove {
  align-self: flex-end;
  padding: 0 1rem;
}

span.product-remove a{
    color: var(--color-red);
    font-size: 1.4rem;

}
.chosen-product>span>h4{
  font-size: 2rem;
  font-weight: var(--font-bold);
} 

.chosen-product>span>p{
  font-size: 1.4rem;
}
.left-column>p{
  text-align: right;

}
.left-column p>a{
  font-size: 1.6rem;
  font-weight: var(--font-semibold);
  color: var(--color-green);
}

.left-column p>a:hover{
  filter: grayscale(25%);
}

.user-section{
  margin-top: 5rem;

}

.delivery-address>p, .payment-options>p{
  display: flex;
  justify-content: space-between;
}

.delivery-address a, .payment-options a{
  color: var(--color-red);
}

.user-section .line{
   height: 2px;
  width: 100%;
  background-color: var(--color-gray-500);
  margin: 1rem 0;
}

.user-section h2{
  font-size: 2.4rem;
  font-weight: var(--font-semibold);
}

.user-section p{
  font-size: 1.2rem;
  font-weight: var(--font-regular);
  color: var(--color-gray-700)
}
.payment-options h2{
  margin-top: 5rem;
}

.right-column{
  display: flex;
  flex-direction: column;
  max-width: 48rem;

  width: 50%;
  gap:2rem 0 0 0;
  min-width: 38rem;

} 

.right-column h2{
  color: var(--color-green);
}

.right-column span{
  font-size: 1.5rem;
  line-height: 3.5rem;
}
.subtotal, .shipping, .total, .buy{
  max-width: 48rem;
  display: flex;
  justify-content: space-between;
}

.total span{
  font-size: 1.8rem;
  font-weight: var(--font-bold);
  margin-top: 1.5rem;
}


.right-column .line{
  height: 2px;
  width: 100%;
  background-color: var(--color-gray-500);
}

.right-column button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  
  border-radius: 2.5rem;
  border: none;
  background-color: var(--color-green);
  color: var(--color-white);
  
  font-weight: var(--font-semibold);
  font-size: 1.6rem;

  margin-top: 3rem;
}


/* ----------media Query-------  */


@media (max-width: 768px){
  .right-column h2{
    margin-top: 4rem;
  }
}


