:root{
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  font-family: 'Fira Sans', sans-serif;

  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
  --font-black: 900;

  --color-white: #FFFFFF;
  --color-red: #EC0000;
  --color-green: #05A84B;
  --color-black: #000000;
  --color-gray-700: #7D7D7D;
  --color-gray-100: #FAFAFA;
  --color-gray-500: #BDBDBD;
  

}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}


/* ---------------PRODUCT DETAILS---------------------- */

.product-detail{
  max-width: 124rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  /* background-color: var(--color-gray-500); */
  flex-wrap: wrap;
  padding: 8rem 0;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 3rem 1rem;
}
.product-image img{
  height: 100%;
  min-width: 35rem;
}
.product-description{
  display: flex;
  justify-content: space-between;
  align-self: center;
  height: 55rem ;
  flex-direction: column;
  padding: 3rem 0 5rem;
  
}

.product-description h1{
  text-align: center;
  
  font-size: 4.2rem;
  font-weight: var(--font-bold);
  
}

.product-description p{
  font-size: 2.4rem;
  max-width: 38.5rem;
  padding: 0 1rem;
  
}

p.price {
  text-align: center;
  font-size: 3.2rem;
  font-weight: var(--font-semibold);
  color: var(--color-green);
}
.pizza-size-qtd{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.qtd{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  width: 16rem;
  height: 4rem;
  background: var(--color-white);
  border: 1px solid var(--color-gray-700);
  padding: 0 0rem ;
}
.qtd  span {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.qtd span.signal>button{
  /* width: 100%; */
  font-size: 2.5rem;
  color: var(--color-black);
  cursor: pointer;
  border: none;
  padding: 0 .4rem;
  background-color:transparent;
}

.pizza-size select{
  width: 16rem;
  height: 4rem;
  
  background: var(--color-white);
  border: 1px solid var(--color-gray-700);
  padding: 0 .5rem ;
}


.product-detail button{
  width:100%;
  height: 4rem;
  margin: 0 auto;
  
  border-radius: 2.5rem;
  border: none;
  
  font-weight: var(--font-medium);
  font-size: 1.6rem;
  vertical-align: middle;
  
  color: var(--color-white);
}

button.add-to-cart{
  background-color: var(--color-white);
  color: var(--color-red);
  font-weight: var(--font-semibold);
  border: 1px solid var(--color-red);
  transition: all .3s;
  
}

.add-to-cart:hover{
  border: 3px solid var(--color-red);
}

button.buy{
  background:var(--color-green);
}

button.buy:hover{
  filter: grayscale(40%);
}

