:root{
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  font-family: 'Fira Sans', sans-serif;

  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
  --font-black: 900;

  Z: #FFFFFF;
  --color-red: #EC0000;
  --color-green: #05A84B;
  --color-black: #000000;
  --color-gray-700: #7D7D7D;
  --color-gray-100: #FAFAFA;
  --color-gray-500: #BDBDBD;
  

}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}
.content {
    background-color: var(--color-white);
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before {
    content: "";
    position: absolute;
    width: 40%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-image: url("../img/img-form.png");
    filter: brightness(.5);
    background-repeat: no-repeat;
    background-size: cover;
    height: 120%;

    left: 0;
}
.title {
    font-size: 28px;
    font-weight: bold;
}
.title-primary {
    color: var(--color-white);
}
.title-second {
    color: var(--color-red);
}
.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.description-primary {
    color: var(--color-white);
}
.description-second {
    color: var(--color-black);
}
.btn {
   
    border-radius: 15px;
    text-transform: uppercase;
    color: var(--color-white);
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: fit-content;
    align-self: center;
    border: none;
    margin-top: 1rem;
    margin-left: 2rem;
}
.btn-primary {
    background-color: transparent;
    border: 1px solid var(--color-white);
    transition: background-color .5s;
}
.btn-primary:hover {
    background-color: var(--color-white);
    color: var(--color-green);
}
.btn-second {
    display: block;
    background-color: var(--color-green);
    border: 1px solid var(--color-green);
    transition: background-color .5s;
}
.btn-second:hover {
    background-color: var(--color-white);
    border: 1px solid var(--color-green);
    color: var(--color-green);
}
.first-content {
    display: flex;
}
.first-content .second-column {
    z-index: 11;
}
.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
}
.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-media {
    margin: 1rem 0;
}
.link-social-media:not(:first-child){
    margin-left: 10px;
}
.link-social-media .item-social-media {
    transition: background-color .5s;
}
.link-social-media:hover .item-social-media{
    background-color: var(--color-green);
    color: var(--color-white);
    border-color: var(--color-green);
}
.list-social-media {
    display: flex;
    list-style-type: none;
}
.item-social-media {
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #95a5a6;
}
.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}
.form-control{
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-control i{
    position: absolute;
    top: 34px;
    left: 5px;
}

.form-control span{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-gray-700);
}

.form-control.error small{
    font-size: 1.4rem;
    font-weight: 200;
    padding-left: .1rem;
    padding-top: .8rem;
    visibility: visible;
}

.form-control.error small:last-child{
    padding-bottom: 1rem;
}

.form-control.success input{
    border: 3px solid var(--color-green);
}

.form-control.error input{
    border: 3px solid var(--color-red);
}

.form-control .picture{
    width: 150px;
    height: 150px;
    aspect-ratio: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-self: center;
    cursor: pointer;
    overflow: hidden;
}

.form-control #picture{
    display: none;
}

.form-control .picture-image{
    max-width: 100%;
}

.form input {
    height: 45px;
    width: 100%;
    padding-left: 30px;
    border: none;
    background-color: #ecf0f1;
}

input:-webkit-autofill 
{    
    -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
    -webkit-text-fill-color: #000 !important;
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}

.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}

small{
    margin-left: 10px;
    color: var(--color-red);
    font-size: 9px;
    visibility: hidden;
}

/* second content*/

.second-content {
    position: absolute;
    display: flex;
    animation: fadein .5s;
}

.second-content .first-column {
    order: 2;
    z-index: -1;
    animation: fadein .5s;

}

.second-content .second-column {
    order: 1;
    z-index: -1;
    animation: fadein .5s;

}

.password {
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}

.password::first-letter {
    text-transform: capitalize;
}

.sign-in-js .first-content .first-column {
    z-index: -1;
}

.sign-in-js .second-content .second-column {
    z-index: 11;
}

.sign-in-js .second-content .first-column {
    z-index: 13;
}

.sign-in-js .content::before {
    left: 60%;
    
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 1.3s; /*MODIFIQUEI DE 3s PARA 1.3s*/
    
    z-index: 12;
}

.sign-up-js .content::before {
    animation: slideout 1.3s; /*MODIFIQUEI DE 3s PARA 1.3s*/
    z-index: 12;
}

.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column {
    z-index: -1;
    animation: deslocamentoEsq 1.3s;
}

.sign-up-js .first-content .second-column {
    z-index: 11;
    animation: fadein .5s;
}

.sign-up-js .first-content .first-column {
    z-index: 13;    
    animation: fadein .5s;
    
}



/* DESLOCAMENTO CONTEÚDO ATRÁS DO CONTENT:BEFORE*/
.sign-in-js .first-content .second-column {

    z-index: -1;
    position: relative;
    animation: deslocamentoEsq 1.3s; /*MODIFIQUEI DE 3s PARA 1.3s*/
}

.sign-up-js .second-content .second-column {
    position: relative;
    z-index: -1;
    animation: deslocamentoDir 1.3s; /*MODIFIQUEI DE 3s PARA 1.3s*/
}

/*ANIMAÇÃOO CSS PARA O CONTEÚDO*/
@keyframes fadein {

    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes deslocamentoEsq {

    0% {
        opacity: 1;
        z-index: 12;
    }

  
    70% {
        opacity: 0;
        z-index: -1;
    }
}


@keyframes deslocamentoDir {

   0% {
        opacity: 1;
        z-index: 12;
    }


   70% {
        opacity: 0;
        z-index: -1;
    }
}


/*ANIMAÇÃO CSS*/

@keyframes slidein {

    0% {
        left: 0;
        width: 40%;
    }

    100% {
        left: 60%;
        width: 40%;
    }
}

@keyframes slideout {

    0% {
        left: 60%;
        width: 40%;
    }


    100% {
        left: 0;
        width: 40%;
    }
}

/*VERSÃO MOBILE*/
@media screen and (max-width: 1040px) {
    .content {
        width: 100%;
        height: 100%;
    }

    .content::before {
        width: 100%;
        height: 40%;
        top: 0;
        border-radius: 0;
   
    }
    .first-content, .second-content {
        flex-direction: column;
        justify-content: space-around;
    }

    .first-column, .second-column {
        width: 100%;
    }
    
    .sign-in-js .content::before {
        top: 60%;
        left: 0;
        border-radius: 0;

    }

    .form {
        width: 50%;
    }
    
    /* ANIMAÇÃO MOBILE CSS*/

    @keyframes deslocamentoEsq {

        0% {
            top:0;
            opacity: 1;
            z-index: 12;
        }
    
        100% {
            top:0;

            opacity: 0;
            z-index: -1;
        }
    }
    
    
    @keyframes deslocamentoDir {
    
        0% {
            top: 0;
            opacity: 0.2;
            z-index: 12;
        }
    
        100% {
            top: 0;
            opacity: 0;
            z-index: -1;
        }
    }
    
    
    
    @keyframes slidein {
    
        0% {
            top: 0;
            height: 40%;
        }
    
    
        100% {
            top: 60%;
            height: 40%;
        }
    }
    
    @keyframes slideout {
    
        0% {
            top: 60%;
            height: 40%;
        }
        
        100% {
            top: 0%;
            height: 40%;
        }
    }
   
}

@media screen and (max-width: 740px) {
    .form {
        width: 50%;
    }
}

@media screen and (max-width: 425px) {
    .form {
        width: 100%;
    }
}













































